
html {
  height: 100%;
}

body {
    background: lavender;
    font-family: 'Roboto', sans-serif;
 }

/* workaround modal-open padding issue */

body.modal-open {
  padding-right: 0 !important;
}

#sidebar {
  background: #0275d8;
  padding-left: 0;
}

.bg-main {
  background: #0275d8;
  color: #fff;
}

.nav-link {
  color: #ffffff;
}


/* --------------------------------
Sign in and sign up 

*/ ---------------------------------------------


 .login-box {
    margin-top: 75px;
    height: auto;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 2px #f2f2f2;
 }
 
 .login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 
 .login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
 }
 
 .login-form {
    margin-top: 25px;
    text-align: left;
 }
 
 input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
 }
 
 input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
 }
 
 .form-group {
    margin-bottom: 40px;
    outline: 0px;
 }
 
 .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
 }
 
 input:focus {
    outline: none;
    box-shadow: 0 0 0;
 }
 
 label {
    margin-bottom: 0px;
 }
 
 .form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
 }
 
 .btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 }
 
 .btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
 }
 
 .login-btm {
    float: left;
 }
 
 .login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
    padding-left: 0;
 }
 
 .login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
 }
 
 .loginbttm {
    padding: 0px;
 }

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */

@media screen and (max-width: 48em) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }
  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}


/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */

@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }
  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
  overflow: hidden;
}

.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-block .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.footer-bottom {
  background: #525151;
  padding: 1em;
  /* display: block;
  position: absolute;
  bottom: 0; */
  width: 100%;
  color: #ffffff
}
